.containerDPF{
    display: flex;
    width: 1280px;
    height: 650px;
}
.card-container{
    margin-top: 30px;
    height: 400px;
    margin-left: 40px;
    width: 300px;
    overflow: hidden;
   box-shadow: 0px 0px 15px -5px;
   transition: 0.5s;
   animation: ease-in;
}
.card-container:hover{
transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
}
.image-container img{
    overflow: hidden;
    height: 200px;
    width: 300px;
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}
h3,p{
    margin: 0;
    padding: 0;
}
.card-title{
margin-bottom: 0.5rem;
}
.btnDpf{
    display:flex;
    justify-content: center;
}
.btnDpf button{
  padding: 0.3rem;
  background-color: white;
  border: none;
  transition: 0.2s;
margin-bottom:0.3rem;
border-radius: 3px;
}
.btnDpf button:hover{
    cursor: pointer;
    background: rgba(27,156,252,0.1);
    transform: scale(1.1);
}
.btnDpf a{
    text-transform: uppercase;
    color: #189cfc;
    text-decoration: none;
    font-weight: bold;
}