.navbar {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
 
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow:  1px 1px 1px 1px rgb(0 0 0 / 12%);;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 1250px;
  }
  
  .navbar-logo img{
    
    margin-left: 10px;
    cursor: pointer;
   margin-top: 20px;
    height: 40px;
    width: 150px;
   
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: flex;
   
    
    list-style: none;
    text-align: center;
    width: 53vw;
    justify-content: end;

  }
  
  .nav-item {
    height: 70px;
  }
  
  .nav-links {
    color: rgb(15, 14, 14);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid  rgb(15, 14, 14);;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color:  rgb(15, 14, 14);;
  }
  .Aide{
    text-decoration: none;
    list-style: none;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #fff;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color:  rgb(15, 14, 14);;
      color: #ffffff;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color:  rgb(15, 14, 14);;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color:  rgb(15, 14, 14);;
      padding: 14px 20px;
      border: 1px solid  rgb(15, 14, 14);;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background:  rgb(15, 14, 14);;
      color: #fff;
      transition: 250ms;
    }
  }
  .navbar {
    background-color: #EA1A47;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 1.5rem;
    background: none;
  }
  
  .nav-menuu{
    background-color: #EA1A47;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  .nav-menuu.active {
    left: 0;
    transition: 350ms;
  }
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover {
    background-color: #EA1A47;
  }
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #EA1A47;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  .btn--outline-login{
    width: 120px;
    margin-left: 20px;
     border-radius: 20px;
     background-color:#000000 ;
     color:  rgb(255, 255, 255);
     padding: 8px 8px;
     border: 1px solid var(--primary);
     transition: all 0.3s ease-out;
     cursor: pointer;
  }
  .firstandlastName{

    margin-top: 27px;
  }
  .imgProfile{
    margin-left: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    border-width: 6;
    border-color: red;
  cursor: pointer;  }
  .dropdown-content-navbar {
    position: absolute;
    top: 105%;
   right: 15px;
    padding: 10px;
    background: #fff;
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 18%;
    height: 100px;
  
  }
  .dropdown-item-navbar h4{
    margin-top: 15px;
  }
  .dropdown-item-navbar h4:hover{
    color: #EA1A47;
  }
  .Aide :hover {
    border:"2px solid red"
  }